<div class="accordion" id="acordeon_fids">
  <%= item_acordeon_bs(
    'acordeon_familiarids', 'familarids', 
    'Expandir / Colapsar sus familiares', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <table class='table table-bordered table-sm'>
      <thead class='thead-light'>
        <tr>
        <th>Relacion</th><th>Nombre</th><th>Id Persona</th>
        </tr>
      </thead class='thead-light'>
      <tbody>
        <% Msip::PersonaTrelacion.where(persona1: @registro.id).each do |pt| %>
          <tr>
            <td>
              <%= pt.trelacion.nombre %> (de)
            </td>
            <td>
              <%= pt.personados.presenta_nombre %>
            </td>
            <td>
              <%= link_to pt.persona2, msip.persona_path(pt.persona2), target: '_blank' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
