
/* Estilo tabla de
 * https://stackoverflow.com/questions/3053205/how-create-table-only-using-div-tag-and-css
 */
.div-tabla {
  width: 100%;
  display: table;
}

.div-tabla-cuerpo {
  display: table-row-group;
}

.div-tabla-fila {
  display: table-row;
}

.div-tabla-celda {
  display: table-cell;
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: top;
}

.div-tabla-celda-encabezado {
  display: table-cell;
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: top;
  font-weight: bold;
}
